@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
 
  font-family: 'Poppins', sans-serif;
}

body{
    background-image:url("pozadina.jpg");
    background-size: 1700px;
    width: 500px;
    height: 300px;
    background-position: right;
    background-repeat: no-repeat;
    background-position: 90% 10%;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: 35%;
    left: 35%;
  }
  .form input {
    font-family: "Poppins", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
  }
  .form button {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#4CAF50 ;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #6def4d;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 15px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
 

  h2 { font-family: "Brush Script MT", cursive; font-size: 100px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18px ;
    text-align: top;
    margin: auto;

  width: 640px; 
  padding-left: 570px;
  padding-top: 100px;
  

}

.error-message {
  display: none;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  
  
}

.error-text {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}

.hidden {
  display: none;
}
.visible {
  display: block !important; /* Prikaz samo ako je dodana klasa .visible */
}








